
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #65a7d3;
    color: #0c0101;
}

header {
    background-color: #00509e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 40px;
    text-align: justify;
}

footer {
    background-color: #003f7d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
